/* Body Styling */
body {
    font-family: "Helvetica";
    font-size: 14px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.loading-gif {
    display: block;
    margin: 0 auto;  
    width: 5%;
    padding: 20% 20%;

}

.styled-button {
    background: #D1770A;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    padding: 16px 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    width: 180px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

input {
    font-size: 16px;
}

/* Nav Styling */
.global-nav {
    background-color: #FDF9EB;
    padding: 24px 40px;
    display: flex;
}

.active {
    color: #D1770A !important;
    text-decoration: underline;
}

nav > * {
    flex: 1 1 50%;
}

nav a {
    text-decoration: none;
    cursor: pointer;
}

.header-logo {
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
}

h1 {
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 18px;
    color: #D1770A;
    text-decoration: none;
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
}

.navBar a {
    margin-left: 24px;
    float: right;
    color: #75736B;
    padding-top: 8px;
}

/* Create Account/Login Styling */
.login-container {
    width: 50%;
    margin: 80px auto;
    max-width: 420px;
}

.login-header {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 140%;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}

.login-form-container {
    padding-top: 24px;
}

.login-form-container > * {
    display: block;
    margin-bottom: 8px;
}

.login-form-label {
    margin-bottom: 8px;
}

.login-form-input {
    margin-bottom: 24px;
    width: calc(100% - 32px);
    border: none;
    background-color: #f5f5f5;
    padding: 14px 16px;
}

.login-container .styled-button {
    width: 100%
}

.login-sign-button {
    border: none;
    background-color: transparent;
    width: 100%;
    text-decoration: underline;
    font-family: Helvetica;
    font-size: 14px;
    padding-top: 12px;
    cursor: pointer;
}

/* Homepage Styling */
.hp-wrapper {
    overflow: hidden;
}

.hp-banner {
    background: url("https://i.ibb.co/YXFCVdV/moving-background.png") repeat-x;
    height: 500px;
    width: 2916px;
    animation: slide 60s linear infinite;
}

@keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-972px, 0, 0);
    }
  }

.hp-banner-text {
    background: linear-gradient(90deg, rgba(253,249,235,0.9) 0%, rgba(253,249,235,0.9) 86%, rgba(253,249,235,0) 100%);
    padding: 56px 80px 190px 80px;
    width: calc(50vw - 40px);
    position: absolute;
    margin-top: -420px;
}

.hp-banner-intro {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 24px;;
}

.hp-banner-cta {
    color: #D1770A;
    font-size: 20px;
    font-weight: bold;
}

.mission-banner {
    width: 75vw;
    padding: 140px 40px;
    margin: 0 auto;
}

.small-header {
    color: #75736B;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 12px;
}

.hero-text {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
}

.mission-banner .hero-text {
    margin-bottom: 40px;
}

.sample-banner {
    padding: 16px 80px 80px;
}

.sample-container {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}

.sample-banner .hero-text {
    margin-bottom: 8px;
}

.sample-container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

.sample-container a {
    color: black;
    text-decoration: none;
}

/* Create Page Styling */
.new-form {
    overflow: auto;
}

.form-aside-container {
    display: inline-block;
    width: 320px;
    float: left;
    padding: 40px;
    height: calc(100vh - 66px);
    overflow: scroll;
}

.form-aside-container .hero-text {
    text-align: left;
    padding-bottom: 8px;
    border-bottom: 1px solid #D1770A;
    margin-bottom: 16px;
    font-size: 16px;
    color: #D1770A;
}

.form-aside-container label {
    display: block;
    margin-bottom: 8px;   
}

.form-aside-container input {
    display: block;
    width: calc(100% - 30px);
    border: none;
    background-color: #f5f5f5;
    padding: 12px 16px;
    margin-bottom: 16px;
}

.hours-container input {
    display: inline-block;
    width: auto;
    font-family: helvetica;
    font-size: 14px;
}

.hours-container .hours-input-container span {
    margin: 0 8px;
}

.hours-container .hour-input {
    width: 114px;
}

.hour-item {
    margin-top: 16px;
}

.form-aside-container .styled-button {
    width: 100%
}

.preview-aside-container {
    display: inline-block;
    width: calc(100vw - 480px);
    float: left;
    background-color: #f5f5f5;
    padding: 40px;
    height: 800px;
}

.preview-browser-container {
    background-color: white;
    border-radius: 10px;
    height: 600px;
    overflow: scroll;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    margin: 0 auto;
}

.preview-section-info {
    padding-bottom: 24px;
    overflow: auto;
}

.preview-section-callout {
    display: inline-block;
    float: left;
    color: #666;
    width: 33%;
    margin-top: 12px;
}

.preview-device-section {
    display: inline-block;
    float: right;
}

.form-section {
    margin-bottom: 64px;
}

.preview-device {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    color: transparent;
    height: 40px;
    width: 40px;
    margin-left: 8px;
    color: black;
    cursor: pointer;
}

.mobile-preview {
    width: 28px;
}

.form-mobile-notice {
    width: 100vw;
    height: calc(100vh - 66px);
    background-color:rgba(255,255,255,.8);
    display: none;
}

.form-mobile-container {
    padding: 120px 24px;
    line-height: 120%;
    font-size: 16px;
    text-align: center;
}

.form-mobile-container p {
    margin-bottom: 24px;
}

.form-mobile-container a {
    color:#D1770A;
    text-decoration: underline;
    font-weight: 600;
}

/* Restaurant Page Styling */
.restaurant-edit {
    background-color: #D1770A;
    padding: 16px;
    width: 100%;
    color: white;
    font-family: Helvetica;
    border: none;
    font-size: 14px;
}

.restaurant-nav {
    padding: 24px 40px;
    text-align: center;
    background: white;
    position: sticky;
    top: 0;
}

.restaurant-header-container {
    overflow: auto;
}

.restaurant-links {
    float: initial;
}

.restaurant-links a {
    margin-right: 24px;
    color: black;
    cursor: pointer;
}

.restaurant-header-img {
    width: 65%;
    height: 550px;
    vertical-align: middle;
    text-align: center;
    background: url("https://www.datocms-assets.com/33465/1618597518-gigisgnocchi.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-block;
    float: left;
}

.restaurant-header-intro {
    display: inline-block;
    float: left;
    width: calc(35% - 80px);
    padding: 80px 40px 40px;
}

.restaurant-header-logo {
    height: 56px;
    width: auto;
}

.restaurant-name {
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    margin-bottom: 24px;
    font-style: italic;
}

.restaurant-title-header {
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    color: #ccc;
    font-weight: 100;
    font-style: italic;
    margin-top: 0;
    letter-spacing: -3px
}

.restaurant-description {
    line-height: 140%;
}

.restaurant-section {
    padding: 80px 40px 0 40px;
    overflow: auto;

}

.menu-img-container {
    width: 65%;
    float: right;
    margin-top: -120px;
}

.menu-img {
    width: 100%;
}

#hours-location {
    overflow: auto;
}

.restaurant-location {
    width: 50vw;
    display: block;
    float: left;
    margin-right: 80px;
}

.restaurant-location iframe {
    width: 100%;
    height: 400px;
}

.restaurant-info {
    width: calc(50vw - 240px);
    display: block;
    float: left;
}

.info-header {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}

.address-info {
    margin-bottom: 40px;
    margin-top: 64px;
}

.hours-info li {
    margin-bottom: 8px;
}

.hours-day {
    display: inline-block;
    width: 100px;
}

#contact a {
    margin-bottom: 24px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: black;
    width: 60%;
    margin-left: 40%;
}

#contact {
    margin-bottom: 80px;
}


/* Footer Styling */
footer {
    padding: 40px 40px;
    background-color: #D1770A;
    width: calc(100vw - 80px);
    color:#FDF9EB;
}

footer img {
    height: 40px;
    width: auto;
    margin-bottom: 24px;
    display: inline-block;
}

footer h1 {
    color: #FDF9EB;
    margin-left: 24px;
    font-size: 28px;
    font-weight: 100;
    margin-top: -20px;
}

footer p {
    border-top: 2px solid #da9949;
    padding-top: 24px;
}

/* Media Queries */
@media only screen and (max-width: 680px) {
    .global-nav {
        padding: 16px;
        display: block;
        width: calc(100vw - 32px)
    }

    .navBar {
        margin-top: 24px;
    }

    .navBar a {
        float: none;
        margin: 16px 16px 0 0;
    }

    .hp-banner {
        height: 320px;
    }

    .hp-banner-text {
        margin-top: -310px
    }

    .hero-text {
        font-size: 18px;
    }

    .mission-banner {
        padding: 64px 40px;
    }

    .hp-banner-text {
        width: calc(100vw - 160px);
    }

    .hp-banner-intro {
        font-size: 24px;
    }

    .hp-banner-cta {
        font-size: 16px;
    }

    .sample-banner {
        padding: 0;
    }
    
    .login-container {
        margin: 24px;
        width: calc(100% - 48px);
        max-width: none;
    }

    .login-header {
        font-size: 18px;
    }

    .form-mobile-notice {
        display: block;
    }
    
    .form-aside-container, .preview-aside-container {
        display: none;
    }

    .restaurant-header-intro {
        float: none;
        display: block;
        width: calc(100% - 48px);
        padding: 24px;
    }

    .restaurant-header-logo {
        width: 100%;
        height: 40px;
    }

    .restaurant-name {
        text-align: center;
        font-size: 24px;
        letter-spacing: 1px;
    }

    .restaurant-description {
        text-align: center;
    }

    .restaurant-title-header {
        font-size: 40px;
        text-align: center;
    }

    .menu-img-container {
        margin-top: 0;
    }

    .restaurant-links {
        text-align: center;
    }

    .restaurant-header-img {
        height: 240px;
        width: 100%;
        float: none;
    }

    .menu-img-container {
        width: 100%;
    }

    .restaurant-section {
        padding: 24px 16px 0 16px;
    }

    .restaurant-location, .restaurant-info {
        width: 100%;
        display: block;
        text-align: center;
    }

    .restaurant-location iframe {
        height: 240px;
    }

    .address-info {
        margin-top: 24px
    }

    #contact a {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    footer {
        padding: 32px ​16px;
        width: calc(100vw - 80px)
    }

    footer h1 {
        margin-left: 16px;
        font-size: 24px;
        font-weight: 500;
        margin-top: -20px;
    }
}