/* Body Styling */
body {
    font-family: "Helvetica";
    font-size: 14px;
}

/* Nav Styling */
nav {
    background-color: #FDF9EB;
    padding: 24px 40px;
    display: flex;
}

nav > * {
    flex: 1 1 50%;
}

nav a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-weight: 800;
    font-size: 18px;
    color: #75736B;
    text-decoration: none;;
}

.navBar a {
    color: #75736B;
    margin-left: 24px;
    float: right;
}